{
  "ignorePatterns": ["packages"],
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "semi": [1, "never"],
    "quotes": [1, "single"]
  }
}
