{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [
      1,
      "never"
    ],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "webpack.dev.js"
      }
    }
  }
}
